CustomersWSClient/xml-resources/web-service-references/CustomersWebService/wsdl/localhost_8080/CustomersWS/CustomersWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://sws.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sws.ws/">

<xs:element name="findAllCustomers" type="tns:findAllCustomers"/>

<xs:element name="findAllCustomersResponse" type="tns:findAllCustomersResponse"/>

<xs:complexType name="findAllCustomers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllCustomersResponse">
<xs:sequence>
<xs:element name="return" type="tns:customerDTO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customerDTO">
<xs:sequence>
<xs:element name="age" type="xs:int"/>
<xs:element name="groupId" type="xs:long" minOccurs="0"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>